<html>
<head>
    <title>VueJs Instance</title>
    <script type = "text/javascript" src = "vue.js"></script>
    <script type = "text/javascript" src = "filters1.js"></script>
</head>
<body>
<div id = "app">
    <p>{{"semih" | capitalize}} </p>
</div>
<script type = "text/javascript">

  var vm = new Vue({
    el: '#app',
    /*filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    }*/
  });
</script>
</body>
</html>
