<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app" >
    İsim <input type="text" v-model="isim" placeholder="isim">
    <p v-html="baslik"></p>
    <input :value="isim" style="color: orange">
    <input value="isim" style="color: orange">
    <p text="isim" style="color: midnightblue"></p>
    <template v-for="kisi in kisiler">
        Kişi İsmi :{{kisi.name}} <br>
    </template>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      isim:"Semih",
      baslik:"<h1 style='color:greenyellow'>Başlık</h1>",
      kisiler:[
        {id:1,name:"semih"},
        {id:2,name:"semih2"},
        {id:3,name:"semih3"},
      ]
    },
    methods:{

    },

  })
</script>
</body>
</html>
