<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.min.js"></script>
</head>
<body>
<div id="app" :style="'background-color:'+arkaplan">
    <input type="text" v-model="message">
    {{message}}
    <br>
    <button v-on:click="arkaplaniDegistir()">Arka Planı Değiştir</button>
    <br>
    <button v-on:click="(goster=!goster)">v-if kontrolü</button>
    <div v-if="goster==true">v-if kutusu</div>
    <div v-show="goster==true">v-show kutusu</div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      arkaplan:"red",
      goster:true
    },
    methods:{
      arkaplaniDegistir(){
        this.arkaplan="yellow";
      }
    }
  })
</script>

</body>
</html>
