<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="mixin1.js"></script>
</head>
<body>
<div id="app" >
    <span>Toplam Kişi Sayısı:{{kisiSayisi}}</span>
    <br>
    <input type="text" v-model="isim">
    <button v-on:click="yeniKisiEkle()">Yeni Kişi Ekle</button>
    <ul>
        <li v-for="(kisi,index) in kisiler">{{kisi}} <button v-on:click="kisiyiSil(index)" style="color: red">Kişiyi Sil</button></li>
    </ul>
</div>
<script>
  var app = new Vue({
    el: '#app',
    mixins: [myMixin],
    data: {
      isim:"",
      kisiler:[
        "Selman",
        "Semih",
        "Şenel",
        "Burak"
      ]
    }
  })
</script>
</body>
</html>
