<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app" >
    <span>Toplam Kişi Sayısı:{{kisiSayisi}}</span>
    <br>
    <input type="text" v-model="isim">
    <button v-on:click="yeniKisiEkle()">Yeni Kişi Ekle</button>
    <ul>
        <li v-for="(kisi,index) in kisiler">{{(index+1)+'. Kişi '+kisi}} <button v-on:click="kisiyiSil(index)" style="color: red">Kişiyi Sil</button></li>
    </ul>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      isim:"",
      kisiler:[
        "Selman",
        "Semih",
        "Şenel",
        "Burak"
      ]
    },
    methods:{
        yeniKisiEkle(){
          if(this.isim!=""){
            this.kisiler.push(this.isim);
            this.isim="";
          }
        },
      kisiyiSil(index){
          this.kisiler.splice(index,1);
        }
    },
    computed:{
      kisiSayisi(){
        return this.kisiler.length;
      }
    },
    watch:{
      isim:function(newVal, oldVal){
        console.log("newValue",newVal);
        console.log("oldValue",oldVal);
      }
    }
  })
</script>
</body>
</html>
