<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app" >
    <button v-on:click="goster=!goster">Göster Değişkeninin değerini değiştir.</button>

    <div v-if="goster" style="color:red">göster==true</div>
    <div v-else style="color: greenyellow">göster==false</div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      goster:true
    }
  })
</script>
</body>
</html>
